body {
  margin: 0;
  padding: 0;
  background-image: url("https://iili.io/Q2JdDF.png");
}
h3 {
  color: white;
  height: 35px;
}
nav {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
  background: #009999;
  box-shadow: 0 0.0625rem 0.375rem 0 rgb(0 0 0 / 10%);
  font: 700 0.875rem/0.875rem "Open Sans", sans-serif;
}
nav ul {
  padding: 0 0px;
  list-style: none;
  position: relative;
  display: inline-table;
  margin: 0 auto;
}

nav ul li {
  float: right;
}

nav ul li:hover a {
  color: #d3d0d0;
}

nav ul li a {
  display: block;
  padding: 25px;
  color: #fff;
  text-decoration: none;
}
form {
  margin: 0 auto;
  margin-left: 100px;
}
.formku {
  width: 1000px;
  margin: 0 auto;
  background: #2baaaa;
}
table {
  margin: 0 auto;
  width: 800px;
}
.table {
  width: 1000px;
  margin: 0 auto;
  background-color: #59c2c2;
}
.katalog {
  width: 1000px;
  margin: 0 auto;
  background: #81cfcf;
}
.footer {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(140, 223, 223);
  text-align: center;
}
hr {
  width: 100px;
}
th {
  background: rgb(174, 243, 247);
}
td {
  background: rgb(220, 242, 243);
}
